

*{
    margin: 0; padding: 0;
    box-sizing: border-box; font-family: 'Maven Pro', sans-serif;
   }
   
   h1{
    text-align: center; font-size: 1.8rem;
    color: #444; padding: 30px 0; 
   }
   
   main{
    width: 90%; height: 550px;
    margin: auto; border: 1px solid black;
    display: flex; justify-content: space-around;
    align-items: center; flex-wrap: wrap;
   }
   
   div{
    width: 30%; height: 160px;
    /*border: 1px solid red;*/
    box-shadow: 2px 2px 5px grey;
    border-radius: 10px; cursor: pointer;
   
   }
   
   .a{
     background-image: url('hanny-naibaho-aWXVxy8BSzc-unsplash.jpg');
     background-repeat: no-repeat;
     background-size: 100% 100%;
   }
   
   .b{
   background-image: url('israel-palacio-Y20JJ_ddy9M-unsplash.jpg');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   }
   
   .c{
   background-image: url('kari-shea-YCQFgqOzLmU-unsplash.jpg');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   }
   
   .d{
   background-image: url('RaidesArt on Twitter.jpg');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   }
   
   .e{
   background-image: url('mike-giles-IiwYeihxC58-unsplash.jpg');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   }
   .f{
   background-image: url('eric-nopanen-8e0EHPUx3Mo-unsplash.jpg');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   }
   .g{
   background-image: url('gabriel-gurrola-2UuhMZEChdc-unsplash.jpg');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   }
   
   .h{
   background-image: url('nainoa-shizuru-NcdG9mK3PBY-unsplash.jpg');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   }
   
   .i{
   background-image: url('jefferson-santos-fCEJGBzAkrU-unsplash.jpg');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   }
   
